<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:rptshareholderinfo:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:rptshareholderinfo:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:rptshareholderinfo:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">会员ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptShareholderInfo.memId" placeholder="会员ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">企业ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptShareholderInfo.enterpriseId" placeholder="企业ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">股东名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptShareholderInfo.shaname" placeholder="股东名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptShareholderInfo.subconam" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">认缴出资币种</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptShareholderInfo.regcapcur" placeholder="认缴出资币种"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">出资方式</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptShareholderInfo.conform" placeholder="出资方式"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">出资比例</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptShareholderInfo.fundedratio" placeholder="出资比例"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">出资日期</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptShareholderInfo.condate" placeholder="出资日期"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">国别</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptShareholderInfo.country" placeholder="国别"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">股东总数量</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptShareholderInfo.invamount" placeholder="股东总数量"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">股东出资比例总和</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptShareholderInfo.invsumfundedratio" placeholder="股东出资比例总和"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建人ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptShareholderInfo.creator" placeholder="创建人ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptShareholderInfo.createTime" placeholder="创建时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">修改人ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptShareholderInfo.updater" placeholder="修改人ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">修改时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptShareholderInfo.updateTime" placeholder="修改时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">数据状态：1-正常 0-删除</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptShareholderInfo.dataState" placeholder="数据状态：1-正常 0-删除"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/rptshareholderinfo.js?_${.now?long}"></script>
</body>
</html>