<!DOCTYPE html>
<html>
<head>
    <title>法律诉讼信息</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:rpttnlawsuit:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:rpttnlawsuit:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:rpttnlawsuit:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">企业主键</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptTnLawsuit.enterpriseId" placeholder="企业主键"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">企业名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptTnLawsuit.entName" placeholder="企业名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">日期</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptTnLawsuit.date" placeholder="日期"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">裁判文书</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptTnLawsuit.referee" placeholder="裁判文书"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">案由</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptTnLawsuit.reason" placeholder="案由"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">案件身份</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptTnLawsuit.identity" placeholder="案件身份"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">案件号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptTnLawsuit.caseNum" placeholder="案件号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建人ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptTnLawsuit.creator" placeholder="创建人ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptTnLawsuit.createTime" placeholder="创建时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">修改人ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptTnLawsuit.updater" placeholder="修改人ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">修改时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptTnLawsuit.updateTime" placeholder="修改时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">数据状态：1-正常 0-删除</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptTnLawsuit.dataState" placeholder="数据状态：1-正常 0-删除"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/rpttnlawsuit.js?_${.now?long}"></script>
</body>
</html>