<!DOCTYPE html>
<html>
<head>
    <title>分支机构</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:rpttnbranches:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:rpttnbranches:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:rpttnbranches:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">企业主键</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptTnBranches.enterpriseId" placeholder="企业主键"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">企业（机构）名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptTnBranches.entName" placeholder="企业（机构）名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">注册时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptTnBranches.regTime" placeholder="注册时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">被投资法定代表?人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptTnBranches.legalPerson" placeholder="被投资法定代表?人"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">公司名</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptTnBranches.cmpName" placeholder="公司名"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">经营状态</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptTnBranches.status" placeholder="经营状态"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建人ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptTnBranches.creator" placeholder="创建人ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptTnBranches.createTime" placeholder="创建时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">修改人ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptTnBranches.updater" placeholder="修改人ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">修改时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptTnBranches.updateTime" placeholder="修改时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">数据状态：1-正常 0-删除</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="rptTnBranches.dataState" placeholder="数据状态：1-正常 0-删除"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/rpttnbranches.js?_${.now?long}"></script>
</body>
</html>